body {
    font-family: Arial, Helvetica;
    background-color: white;
  }

  header {
    font-family: Arial, Helvetica;
    text-align: center; }
  
  .form {
    background-color: white;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
  }
  button {
    font-size: 16px;
    border: none;
    background-color: #1860a8;
    padding: 5px;
    color: white;
    border-radius: 5px;
  }

  a [type="button"]{
    font-family: Arial, Helvetica;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: none;
    background-color: #1860a8;
    color: white;
    padding: 12px;
    border-radius: 5px;
    width: 100%;
      
    }
  

  
  
  .form input {
    margin: 5px 0;
    padding: 5px;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  button[type="submit"] {
    border: none;
    background-color: #1860a8;
    color: white;
    padding: 10px;
    border-radius: 5px;

  }

  h3 {
    text-align: center;
  }


  h1{
    font-family: Arial, Helvetica;
    text-align: center;
    font-size: 39px;
    font-weight:lighter;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  input[type="button"] {
    border: none;
    background-color: #1860a8;
    color: white;
    padding: 10px;
    border-radius: 5px;
    
  }
  
  #eventsContainer {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    width: 700px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .event {
    border: solid 1px #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .event .days {
    text-align: center;
    width: 100px;
  }
  .event .days .days-number {
    font-size: 30px;
    font-weight: bold;
    display: block;
  }
  .event .event-name {
    padding: 10px;
    width: 200px;
  }
  .event .event-date {
    padding: 10px;
    width: 100px;
  }
  .event .actions {
    padding: 10px;
  }