body {
  font-family: Arial, Helvetica;
  background-color: white;
  margin: 20px;
}
  .field {
    display: block;
    margin: 5px;
  }
  
  .hideContent {
    display: none;
  }
  

  h1{
    font-family: Arial, Helvetica;
    text-align: center;
    font-size: 39px;
    font-weight:lighter;
    margin-top: 10px;
    margin-bottom: 10px;
  }



  .showContent {
    display: block;
  }

  header {
    text-align: center; }

    a [type="button"]{
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      border: none;
      background-color: #1860a8;
      color: white;
      padding: 12px;
      border-radius: 5px;
      width: 100%;
        
      }

      .btn-primary{
        background-color: #1860a8;
        border: none;
        border-radius: 5px;
        border-color: #1860a8;
      }